#requirements.txt

Django==5.2.5
mysqlclient==2.2.7
Pillow==10.4.0
django-crispy-forms==2.1
crispy-bootstrap5==0.7
python-decouple==3.8
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2024.2
#para equipos de Lab Inacap
setuptools-80.9.0
