{% extends 'core/base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ titulo }}</h1>
    </div>

    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">¡En construcción!</h4>
        <p>Esta sección está actualmente en desarrollo. Pronto encontrarás aquí análisis y estadísticas detalladas sobre las operaciones.</p>
    </div>

</div>
{% endblock %}
